VisualElement {
}

.Pressed {
    color: rgb(255, 255, 255);
    transition-duration: 0.25s;
    background-image: url("project://database/Assets/4.%20Art/Textures/UI/Dialogue/Buttons/20240709dragonButtonA-Sheet.png?fileID=1441414339&guid=94895963f3638ee4e8fc32d4ac3687d6&type=3#mauveButton");
}

.Button {
}

.Title {
    font-size: 124%;
    align-self: center;
    -unity-font-style: bold;
    align-items: center;
    -unity-font-definition: url("project://database/Assets/4.%20Art/Fonts/EnkaDotGothic24.ttf?fileID=12800000&guid=3f1f45f3d7e637345b21c4ce748e2d38&type=3#EnkaDotGothic24");
}

.Paragraph {
    font-size: 50%;
    -unity-font-definition: url("project://database/Assets/4.%20Art/Fonts/EnkaDotGothic24.ttf?fileID=12800000&guid=3f1f45f3d7e637345b21c4ce748e2d38&type=3#EnkaDotGothic24");
}

.Subtitle {
    font-size: 24%;
    -unity-font-definition: url("project://database/Assets/4.%20Art/Fonts/EnkaDotGothic24.ttf?fileID=12800000&guid=3f1f45f3d7e637345b21c4ce748e2d38&type=3#EnkaDotGothic24");
}

.ToggleList {
}

.unity-progress-bar__progress {
    background-color: rgb(255, 0, 0);
    transition-duration: 1s;
}

.Hidden {
    opacity: 0;
}

.Visible {
    opacity: 1;
}

.DungeonText {
    font-size: 75px;
    -unity-font-definition: url("project://database/Assets/4.%20Art/Fonts/DungeonFont.ttf?fileID=12800000&guid=324225fbdef3e9a45828255415db0641&type=3#DungeonFont");
}

.DungeonButton {
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    transition-duration: 0.25s;
    background-image: url("project://database/Assets/4.%20Art/Textures/UI/Dialogue/Buttons/20240709dragonButtonA-Sheet.png?fileID=1039246304&guid=94895963f3638ee4e8fc32d4ac3687d6&type=3#orange button");
    -unity-slice-scale: 2.5px;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    -unity-slice-type: sliced;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.FullScreenButton {
    width: 33%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    transition-duration: 0.5s;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 33%;
    padding-right: 0;
    padding-bottom: 25%;
    padding-left: 0;
}

.DirectionButtonText {
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 15px 100px;
    -unity-text-outline-color: rgb(255, 255, 255);
    font-size: 157px;
    -unity-text-outline-width: 5px;
    -unity-font-definition: url("project://database/Assets/4.%20Art/Fonts/EnkaDotGothic24.ttf?fileID=12800000&guid=3f1f45f3d7e637345b21c4ce748e2d38&type=3#EnkaDotGothic24");
    align-items: auto;
    justify-content: center;
    align-self: center;
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    transition-duration: 0.5s;
    white-space: pre-wrap;
}

.SubToggle {
    background-color: rgb(191, 191, 191);
}
